@model AirlinesWeb.Models.Flight

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FlightNo" class="control-label"></label>
                <input asp-for="FlightNo" class="form-control" />
                <span asp-validation-for="FlightNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduledDeparture" class="control-label"></label>
                <input asp-for="ScheduledDeparture" class="form-control" />
                <span asp-validation-for="ScheduledDeparture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduledArrival" class="control-label"></label>
                <input asp-for="ScheduledArrival" class="form-control" />
                <span asp-validation-for="ScheduledArrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureAirport" class="control-label"></label>
                <select asp-for="DepartureAirport" class ="form-control" asp-items="ViewBag.DepartureAirport"></select>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalAirport" class="control-label"></label>
                <select asp-for="ArrivalAirport" class ="form-control" asp-items="ViewBag.ArrivalAirport"></select>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AircraftCode" class="control-label"></label>
                <select asp-for="AircraftCode" class ="form-control" asp-items="ViewBag.AircraftCode"></select>
            </div>
            <div class="form-group">
                <label asp-for="ActualDeparture" class="control-label"></label>
                <input asp-for="ActualDeparture" class="form-control" />
                <span asp-validation-for="ActualDeparture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualArrival" class="control-label"></label>
                <input asp-for="ActualArrival" class="form-control" />
                <span asp-validation-for="ActualArrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
